@import url(https://fonts.google.com/specimen/Open+Sans);

body {background:#ccc}

.flex-container {
    display: flex;
    flex-flow: row wrap;
  }

.img{
    background-color: blue;
    flex-grow: 1;
    align-items: stretch;
}

.inf{
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    flex-grow: 1;
    align-items: stretch;
}

.text {
    margin-left: 1vw;
    padding-top: 2.6vh;
    font-weight: bold;
}

.atualiza{
    color: grey;
    font-size: 1vh;
}


/*.edt{
    background-color: orangered;
    flex-grow: 1;
    align-items: stretch;
    display: inline-flex;
    align-self: flex-end;
}*/
/*
.align_edt{

    padding-top: 14vh;
}
*/
.box {
	width:50%;
	height:31vh;
	background:#FFF;
	margin:auto;
}

.effect1{
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}

.tiracor{
    color: black;
    text-decoration: none;
}
