@import url(https://fonts.google.com/specimen/Open+Sans);

body {background:#ccc}


.flex-container {
    display: flex;
    flex-flow: row wrap;
  }

.img{
    background-color: blue;
    flex-grow: 1;
    align-items: stretch;
}

.inf{
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    background-color: palevioletred;
    flex-grow: 1;
    align-items: stretch;
}

.text {
    margin-left: 1vw;
    padding-top: 2.6vh;
    font-weight: bold;
}

.atualiza{
    color: red;
}

/*.edt{
    background-color: orangered;
    flex-grow: 1;
    align-items: stretch;
<<<<<<< 840f1e34ba2647afc6028592589ccc45da959297
}
.box table{

    margin-left: 1vw;
    text-align:left;
	position:relative;
    top:1,5vh;
    border-spacing: 0px;
    font-family: 'Open Sans', sans-serif;
}

.col1 {
  font-weight: bold;
}

td {
  padding-top: 3vh;
}
=======
    display: inline-flex;
    align-self: flex-end;
}*/
/*
.align_edt{

    padding-top: 14vh;
}
*/
>>>>>>> :construction: <@murilobauerc, @camirmarques, @laurascclaro> implementa ejs
.box {
	width:50%;
	height:31vh;
	background:#FFF;
	margin:auto;
}

.effect1{
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.edit {
    position: absolute;
    margin-top: -14.1vh;
    margin-left: 18vw;

}
