@import url(https://fonts.google.com/specimen/Open+Sans);

body {background:#ccc}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
  }

.img{
    background-color: blue;
    flex-grow: 1;
    align-items: stretch;
}

.inf{
    background-color: palevioletred;
    flex-grow: 1;
    align-items: stretch;
}

.edt{
    background-color: orangered;
    flex-grow: 1;
    align-items: stretch;
}

.box {
	width:50%;
	height:31vh;
	background:#FFF;
	margin:auto;
}

.effect1{
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}

