<%- contentFor('body') %>
<div>
  <div>
    </head>
    <body>
        <button class="accordion">Acolhido 1</button>
        <div class="panel">
            <table class="prescricao-atualizada">
                <tr>
                  <th>Medicamento</th>
                  <th>Via</th>
                  <th>Intervalo</th>
                  <th>Forma Farmacêutica</th>
                </tr>
                <tr>
                  <td>Paracetamol - 500 mg</td>
                  <td>Oral</td>
                  <td>8-8 horas</td>
                  <td>2 cp</td>
                </tr>
                <tr>
                  <td>Busonide - 100 mg</td>
                  <td>Retal</td>
                  <td>16-16 horas</td>
                  <td>20 gotas</td>
                </tr>
                <tr>
                  <td>Ritalina - 100mg</td>
                  <td>Retal</td>
                  <td>1x ao dia</td>
                  <td>3 cp</td>
                </tr>
                <tr>
                  <td>Paracetamol - 500 mg</td>
                  <td>Oral</td>
                  <td>8-8 horas</td>
                  <td>2 cp</td>
                </tr>
                <tr>
                  <td>Busonide - 100 mg</td>
                  <td>Retal</td>
                  <td>16-16 horas</td>
                  <td>20 gotas</td>
                </tr>
                <tr>
                  <td>Ritalina - 100mg</td>
                  <td>Retal</td>
                  <td>1x ao dia</td>
                  <td>3 cp</td>
                </tr>
            </table>
        </div>
        
        <button class="accordion">Acolhido 2</button>
        <div class="panel">
            <table class="prescricao-atualizada">
                <tr>
                  <th>Medicamento</th>
                  <th>Via</th>
                  <th>Intervalo</th>
                  <th>Forma Farmacêutica</th>
                </tr>
                <tr>
                  <td>Paracetamol - 500 mg</td>
                  <td>Oral</td>
                  <td>8-8 horas</td>
                  <td>2 cp</td>
                </tr>
                <tr>
                  <td>Busonide - 100 mg</td>
                  <td>Retal</td>
                  <td>16-16 horas</td>
                  <td>20 gotas</td>
                </tr>
                <tr>
                  <td>Ritalina - 100mg</td>
                  <td>Retal</td>
                  <td>1x ao dia</td>
                  <td>3 cp</td>
                </tr>
                <tr>
                  <td>Paracetamol - 500 mg</td>
                  <td>Oral</td>
                  <td>8-8 horas</td>
                  <td>2 cp</td>
                </tr>
                <tr>
                  <td>Busonide - 100 mg</td>
                  <td>Retal</td>
                  <td>16-16 horas</td>
                  <td>20 gotas</td>
                </tr>
                <tr>
                  <td>Ritalina - 100mg</td>
                  <td>Retal</td>
                  <td>1x ao dia</td>
                  <td>3 cp</td>
                </tr>
            </table>
        </div>
        
        <button class="accordion">Acolhido 3</button>
        <div class="panel">
            <table class="prescricao-atualizada">
                <tr>
                  <th>Medicamento</th>
                  <th>Via</th>
                  <th>Intervalo</th>
                  <th>Forma Farmacêutica</th>
                </tr>
                <tr>
                  <td>Paracetamol - 500 mg</td>
                  <td>Oral</td>
                  <td>8-8 horas</td>
                  <td>2 cp</td>
                </tr>
                <tr>
                  <td>Busonide - 100 mg</td>
                  <td>Retal</td>
                  <td>16-16 horas</td>
                  <td>20 gotas</td>
                </tr>
                <tr>
                  <td>Ritalina - 100mg</td>
                  <td>Retal</td>
                  <td>1x ao dia</td>
                  <td>3 cp</td>
                </tr>
                <tr>
                  <td>Paracetamol - 500 mg</td>
                  <td>Oral</td>
                  <td>8-8 horas</td>
                  <td>2 cp</td>
                </tr>
                <tr>
                  <td>Busonide - 100 mg</td>
                  <td>Retal</td>
                  <td>16-16 horas</td>
                  <td>20 gotas</td>
                </tr>
                <tr>
                  <td>Ritalina - 100mg</td>
                  <td>Retal</td>
                  <td>1x ao dia</td>
                  <td>3 cp</td>
                </tr>
            </table>
        </div>
        <button class="accordion">Acolhido 4</button>
        <div class="panel">
            <table class="prescricao-atualizada">
                <tr>
                  <th>Medicamento</th>
                  <th>Via</th>
                  <th>Intervalo</th>
                  <th>Forma Farmacêutica</th>
                </tr>
                <tr>
                  <td>Paracetamol - 500 mg</td>
                  <td>Oral</td>
                  <td>8-8 horas</td>
                  <td>2 cp</td>
                </tr>
                <tr>
                  <td>Busonide - 100 mg</td>
                  <td>Retal</td>
                  <td>16-16 horas</td>
                  <td>20 gotas</td>
                </tr>
                <tr>
                  <td>Ritalina - 100mg</td>
                  <td>Retal</td>
                  <td>1x ao dia</td>
                  <td>3 cp</td>
                </tr>
                <tr>
                  <td>Paracetamol - 500 mg</td>
                  <td>Oral</td>
                  <td>8-8 horas</td>
                  <td>2 cp</td>
                </tr>
                <tr>
                  <td>Busonide - 100 mg</td>
                  <td>Retal</td>
                  <td>16-16 horas</td>
                  <td>20 gotas</td>
                </tr>
                <tr>
                  <td>Ritalina - 100mg</td>
                  <td>Retal</td>
                  <td>1x ao dia</td>
                  <td>3 cp</td>
                </tr>
            </table>
        </div>
        

  
</div>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}
</script>
