<<<<<<< 0144864e4fd2ac9257779cf56001731dcf8c733a
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Prescare</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="/css/table.css">
</head>

<body>
  <div class="container">
    <header>
      <div class="navbar">
        <img src="img/logo.png" class="logo" data-target="Imagem Logo">
        <div class="nome-user">
          <i class="fas fa-user"></i> Marlene, médica </div>
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
        <div class="botao-sair">
          <a href="">Sair
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </div>
      </div>
    </header>

    <main class="main">
      <div class="content">
        <%- body %>
      </div>
    </main>
    <footer>
      <div class="footer">
        FOOTER
      </div>
    </footer>
  </div>
</body>
<<<<<<< abe97324329e1fe0cfeef00ef3508be704a336c0

</html>
=======
=======
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Scroll</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="table_scroll/css/table.css" />
  </head>

  <body onload="getfocus()">
    <section>
      <main class="main">
         <div class="content">
           <%- body %>
         </div>
       </main>
    </section>
  </body>

      <script>
          function getfocus() {
              document.getElementById("myTab").focus()
          }
      </script>
>>>>>>> :construction: <@marcos012, @claudiastrm, @murilobauerc, @DiovaneMendes> adicona ejs, rotas e tabela com scroll
</html>
>>>>>>> :construction: <@marcos012, @claudiastrm, @murilobauerc, @DiovaneMendes> adicona ejs, rotas e tabela com scroll
