<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Prescare</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../css/list.css">
  <link rel="stylesheet" href="../css/style.css">
  <script src="/js/tableFunctions.js"></script>
</head>

<body class="body">
  <header class="nav">
    <div class="navbar">
      <a href="/">
        <img src="img/logoSemFundo.png" class="logo" data-target="Imagem Logo">
      </a>
      <div class="nome-user">
        <i class="fas fa-user"></i> Marlene, médica </div>

      <div class="icon-bar"></div>
      <div class="icon-bar"></div>
      <div class="botao-sair">
        <a href="">Sair
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </div>
    </div>
  </header>
  <div class="container">
    <main class="main">
      <div class="content">
        <%- body %>
      </div>
    </main>
  </div>
  <footer>
    <div class="footer">
      FOOTER
    </div>
  </footer>
  <script src="/js/tabelaCollapse.js"></script>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
  crossorigin="anonymous"></script>

</html>