<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Utilizando o EJS</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  
  <header>
     <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
     </nav>
  </header>

   <main>
     <div>
      <%- body %>
     </div>
   </main>

  <footer>
    FOOTER
  </footer>

</body>
</html>
