<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Prescare</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/aba.css">
  <link rel="stylesheet" type="text/css" href="/css/historicoPrescricao.css">
  <link rel="stylesheet" type="text/css" href="/css/infos.css">
  <link rel="stylesheet" type="text/css" href="/css/list.css">
  <link rel="stylesheet" type="text/css" href="/css/pesquisa.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
</head>

<body class="body">
  <header>
    <div class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
      <a href="/">
        <img src="img/logoSemFundo.png" class="logo" data-target="Imagem Logo">
      </a>
      <div class="nome-user">
<<<<<<< bb21fa6d6124ad7e0079c387520d5dcf259fc62e
        <i class="fas fa-user"></i> Marlene, Médica
=======
<<<<<<< 31f8bde1b6fe1d3dbea7fa436c171a0d5d8a6a5e
        <i class="fas fa-user"></i> Marlene, médica
=======
        <i class="fas fa-user"></i> Marlene, Médica
>>>>>>> :rocket: <@natymoraes , @diovanemendes> Cria botão salvar e voltar com link #23
>>>>>>> :rocket: <@natymoraes , @diovanemendes> Cria botão salvar e voltar com link #23
      </div>
      <div class="botao-sair">
        <a href="">Sair
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </div>
    </div>
    <!-- navbar -->
  </header>

  <div class="container">
    <main class="main">
      <div class="content">
        <%- body %>
      </div>
    </main>
  </div>
<<<<<<< bc074b3f4b016af7cf787de9a86f1def78647480
<<<<<<< eda517ab51d66495869e3f37bad791867a12b2da

=======
  
>>>>>>> :art: <@marcos012, @murilobauerc, @ilizakoski> junta tabela-abas com a master #7
=======
  
>>>>>>> :art: <@marcos012, @murilobauerc, @ilizakoski> junta tabela-abas com a master #7
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  </script>
  <script src="/js/tabelaCollapse.js"></script>
<<<<<<< bc074b3f4b016af7cf787de9a86f1def78647480
<<<<<<< 66c45d1f076cdd06e2d61897498f8c7064ce76d4
<<<<<<< eda517ab51d66495869e3f37bad791867a12b2da
  <script src="/js/cuidado.js"></script>
</body>

</html>
=======
  <script src="/js/tableFunctions.js"></script>
=======
  <script src="/js/cuidado.js"></script>
>>>>>>> :bug: <@NatyMoraes , @DiovaneMendes> arrruma bugs
</body>

</html>
>>>>>>> :art: <@marcos012, @murilobauerc, @ilizakoski> junta tabela-abas com a master #7
=======
  <script src="/js/tableFunctions.js"></script>
</body>

</html>
>>>>>>> :art: <@marcos012, @murilobauerc, @ilizakoski> junta tabela-abas com a master #7
