<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Prescare</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/aba.css">
    <link rel="stylesheet" type="text/css" href="/css/historicoPrescricao.css">
    <link rel="stylesheet" type="text/css" href="/css/infos.css">
    <link rel="stylesheet" type="text/css" href="/css/list.css">
    <link rel="stylesheet" type="text/css" href="/css/pesquisa.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"></script>
    </script>
</head>

<body class="body">
  <header>
    <div class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
      <a href="/">
        <img src="img/logoSemFundo.png" class="logo" data-target="Imagem Logo">
      </a>
      <div class="nome-user">
        <i class="fas fa-user"></i> Marlene, Médica
      </div>
      <div class="botao-sair">
        <a href="">Sair
          <i class="fas fa-sign-out-alt"></i>
        </a>
      </div>
    </div> <!-- navbar -->
  </header>

  <div class="container">
    <main class="main">
      <div class="content">
        <%- body %>
      </div>
    </main>
  </div>
</body>

</html>
