<html>
    <head>
        <meta charset="UTF-8">
        <title>Tabela</title>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>

        <header>HEADER</header>

        <main>
            <%- body %>
        </main>
        
        <footer> FOOTER </footer>
    </body>
</html>