<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Scroll</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="table_scroll/css/table.css" />
  </head>

  <body onload="getfocus()">
    <section>
      <main class="main">
         <div class="content">
           <%- body %>
         </div>
       </main>
    </section>
  </body>

      <script>
          function getfocus() {
              document.getElementById("myTab").focus()
          }
      </script>
</html>
