@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

*, *:after, *:before {
  box-sizing: border-box;
}
p{
  padding: 0 10px;
}
.tabs-container {
  position: relative;
  height: 360px;
  max-width: 98%;
  margin: 0 auto;

  font-family: 'Titillium Web', sans-serif;
  line-height: 1.5;
  color: #444;
  font-size: 16px;
}
.tabs-container p{
  margin: 0;
  padding: 0;
}
.tabs-container:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0;
  visibility: none;
}
input.tabs {
  display: none;
}
input.tabs + label {
  line-height: 40px;
  padding: 0 20px;
  float: left;

  background: #407caa;
  color: #fff;
  cursor: pointer;
  transition: background ease-in-out .3s;
}
input.tabs:checked + label {
  color: #000;
  background: #81b4db;
}
input.tabs + label + div {
  width: 100%;
  opacity: 0;
  position: absolute;
  background: #e7de8b;
  top: 40px;
  left: 0;
  padding: 10px;
  z-index: -1;
  transition: opacity ease-in-out .3s;
  border: 1px solid #407caa;
}
input.tabs:checked + label + div {
  opacity: 1;
  z-index: 1000;
}