body {
  background: rgb(198, 215, 230)
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.img {
  border-radius: 12px;
  background-color: #81b4db;
  flex-grow: 2;
  align-items: left;
  margin:2px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.foto-acolhido {
  height: 100px;
  width: 100px;
}

.img-acolhido {
  align-items: center;
  background-color: #81b4db;
  border-radius: 12px;
  flex-grow: 2;
  margin-bottom: 10px;
  margin-right: 10px;
}

.nome-left {
  float: left;
  width: 50%;
}

.edit-right {
  float: right;
  width: 50%;
  text-align: right;
}

.inf {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  flex-grow: 1;
  align-items: stretch;
}

.text {
  margin: 1vh;
  margin-left: 1vw;
  padding-top: 2.3vh;
}

.bold {
  font-weight: bold;
}

.atualiza {
  color: grey;
  font-size: 1vh;
  margin: 1vh;
}

.box {
  position: static;
  border-radius: 12px;
  width:63%;
  height:18vh;
  background:#FFF;
  margin: auto;
  margin-top: 3vh;
  padding-top:10px;
  padding-left: 10px;
}

.effect1 {
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}

.tiracor {
  color: black;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.margin-top-5 {
  margin-top:5vh;
}