body {
  background: rgb(198, 215, 230)
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.img {
  border-radius: 12px;
  background-color: #81b4db;
  flex-grow: 2;
  align-items: left;
  margin:2px;
}

.inf {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  flex-grow: 1;
  align-items: stretch;
}

.text {
  margin-left: 1vw;
  padding-top: 2.3vh;
}

.bold {
  font-weight: bold;
}
.atualiza {
  color: grey;
  font-size: 1vh;
}

.box {
  border-radius: 12px;
  width:63%;
  height:18vh;
  background:#FFF;
  margin: auto;
  margin-top: 3vh;
}

.effect1 {
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}

.tiracor { 
  color: black;
  text-decoration: none;
}