.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.foto-acolhido{
    width: 100px;
    height: 100px;
}

.img-acolhido {
    background-color: #81b4db;
    border-radius: 12px;
    flex-grow: 2;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.inf {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    flex-grow: 1;
    align-items: stretch;
}

.text {
    margin-left: 1vw;
    padding-top: 2.6vh;
    font-weight: bold;
}

.atualiza{
    color: grey;
    font-size: 1vh;
}

.box {
    position: static;
    border-radius: 12px;
    width:63%;
    height:18vh;
    background:#FFF;
    margin: auto;
    padding-top:10px;
    padding-left: 10px;
}

.effect1 {
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}

.tiracor {
    color: black;
    text-decoration: none;
}
