
.imgLogin{
    width: 40vh;
    text-align: center;
}

.imgCenter {
    padding-top: 40px;
    text-align: center;
}

.login{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 50px;
}

.entrar{
    padding-top: 10px;
}

.usuario{
    padding-top: 5px;
}

.senha{
    padding-top: 20px;
    padding-left: 8px;
}

.botao{
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px 0px 70px;
    cursor: pointer;
    background-color: #f44336;
    border-radius: 8px;
}

#user{
    width: 20%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

#pass{
    width: 20%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.container {
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    text-align: center; 
    align-items: center;
}