* {
  box-sizing: border-box;
  margin: 0;
}

.body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: 0 auto;
}

.logout {
  color: #fff;
}

.logout:hover{
  color: #407caa;
}

.navbar {
  background-color: #81b4db;
  background-image: url("../img/logoSemFundo.png");
  background-repeat: no-repeat;
  background-position: left;
  text-decoration: none;
  background-size: 14vw;
}

.nome-user {
  color:white;
  font-family: 'Amatic SC', cursive;
  font-size: 2.3em;
  font-weight: bold;
  margin: auto;
}

.botao-sair {
  font-family: 'Amatic SC', cursive;
  font-size: 1.8em;
  font-weight: bold;
  height: 7vh;
}

.botao-sair a {
  color: white;
  text-decoration: none;
}

.botao-sair a:hover {
  color: #81b4db;
  background-color: white;
}

.botoes{
  padding-top: 3vh;
}

.botoes input{
  color: white;
  background-color: #81b4db;
  width: 50%;
  border-radius: 7px;
  margin-bottom: 1vh;
  height:5vh;
}

.cuidado{
  margin-left: 203px;
  overflow-y: auto;
}

.tabelaPrescricao {
  border-collapse: collapse;
  width: 55vw;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  margin-bottom: 1vh;
}

.prescricao{
  text-align: center;
}

.tabelaPrescricao td, .tabelaPrescricao th {
  border: 1px solid;
  height: 4vh;
  text-align: center;
}
.input {
  padding-left: 1vw;
}

label {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}

.medicamento{
 padding-left: 25%;
}
.botaoPrescricao {
  margin-top: 5vh;
  margin-left: 33vh;
}

.botao-voltar {
  margin-top: 5vh;
  margin-left: 33vh;
}

.titulo-lista-acolhidos {
  font-size: 1.8em;
  margin: 0 0 5vh 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.lista-acolhidos {
  background-color: #81b4db;
  height: 65vh;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow-y: scroll;
  width: 60%;
}

.lista-acolhidos li {
  padding: 1%;
}

.lista-acolhidos li a {
  text-decoration: none;
  color:black;
  display: block;
}

.lista-acolhidos li:nth-child(even) {
  background-color: #a9d1fb;
}

.lista-acolhidos li:hover {
  background-color: #bdc3c7;
}


::-webkit-scrollbar {
  width: 12px;
  background-color: #9dd1f7;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
