* {
  box-sizing: border-box;
  margin: 0;
}

.body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: 0 auto;
}

.navbar {
  align-items: center;
  background-color: #81b4db;
  display: flex;
  height: 7vh;
  justify-content: space-between;
  margin-bottom: 2vh;
  width: 100vw;
}

.logo {
  width: 72%;
  padding-left: 2%;
}

.nome-user {
  color:white;
  font-family: 'Amatic SC', cursive;
  font-size: 2.3em;
  font-weight: bold;
  margin: 0 auto
}

.botao-sair {
  font-family: 'Amatic SC', cursive;
  font-size: 1.8em;
  font-weight: bold;
  padding-right: 3%;
}

.botao-sair a {
  color: white;
  text-decoration: none;
}

.botao-sair a:hover {
  color: #81b4db;
  background-color: white;
}

.main {
  margin: 0 auto;
  padding-top: 20px;
  width: 50vw;
}

.logout {
  color: #fff;
}

.logout:hover {
  color: #407caa;
}

.tablesfarmaceutica {
  margin-top: 5%;
  border-collapse: collapse;
  width: 55vw;
  font-family: 'Open Sans', sans-serif;
}

.tablesfarmaceutica td, .tablesfarmaceutica th {
  border: 1px solid;
  height: 5vh;
  text-align: center;
}

td.medicamento {
  text-align: left;
}

.input {
  padding-left: 1vw;
}

.add {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.acao-botao {
  width: 100%;
  margin-top: 50px;
  margin-left: -10px;
  text-align: right;
}

.botao-historico {
  margin-left: 0.5vw;
  margin-top: 2vh;
}

.panel {
  padding: 10px 0;
  display: none;
  background-color: #f0e68b;
  overflow: hidden;
}
