* {
  box-sizing: border-box;
  margin: 0;
}

.body {
  background: #aedbfdb0;
  font-family: 'Open Sans', sans-serif;
  margin:  auto;
}

.logout {
  color: #fff;
}

.logout:hover{
  color: #407caa;
}

.navbar {
  background-color: #81b4db;
  background-image: url("../img/logoSemFundo.png");
  background-repeat: no-repeat;
  background-position: left;
  text-decoration: none;
  background-size: 14vw;
  margin-bottom: 3vh;
}

.nome-user {
  color:white;
  font-family: 'Amatic SC', cursive;
  font-size: 2.3em;
  font-weight: bold;
  margin: auto;
}

.botao-sair {
  font-family: 'Amatic SC', cursive;
  font-size: 1.8em;
  font-weight: bold;
}

.botao-sair a {
  color: white;
  text-decoration: none;
}

.botao-sair a:hover {
  color: #81b4db;
  background-color: white;
}

.tabela-prescricao {
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 1vh;
  text-align: center;
  width: 68vw;
}

.botoes {
  margin: 0 1.5vw;
  text-align: center;
  display: inline;
  font-size: 15px;
}

.botoes input {
  background-color: #81b4db;
  border-radius: 7px;
  color: white;
  height: 35px;
  margin: 1vh;
  max-width: 150px;
  min-width: fit-content;
  min-height: fit-content;
  width: 12vw;
}

.centraliza {
  margin: 0 auto;
  text-align: center;
  width: 38vw;
}

.editar-acolhido {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.medicamento {
 padding-left: 25%;
}

.botaoPrescricao {
  margin-top: 5vh;
  margin-left: 33vh;
}

.botao-voltar {
  background-color:  #81b4db;
  border-radius: 7px;
  height: 35px;
  margin: 1vh;
  max-width: 150px;
  min-width: fit-content;
  min-height: fit-content;
  width: 5vw;
  text-align: center;
  padding-top: 3px;
}

.botao-voltar a {
  color: white;
  font-size: 15px;
}

.botao-voltar a:hover {
  text-decoration: none;
  color: white;
}

.tabela-prescricao td, .tabela-prescricao th {
  border: 1px solid;
  height: 4vh;
}

label {
  margin-left: 2.6vw;
  font-size: 25px;
}

.titulo-lista-acolhidos {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0 0 5vh 0;
  text-align: center;
  text-transform: uppercase;
}

.lista-acolhidos {
  background-color: #81b4db;
  height: 65vh;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow-y: scroll;
  width: 60%;
}

.lista-acolhidos li {
  padding: 1%;
}

.lista-acolhidos li a {
  text-decoration: none;
  color:black;
  display: block;
}

.lista-acolhidos li:nth-child(even) {
  background-color: #a9d1fb;
}

.lista-acolhidos li:hover {
  background-color: #bdc3c7;
}

::-webkit-scrollbar {
  width: 20px;
  background-color: #9dd1f7;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.box-acolhido {
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 6px -6px #777;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 2%;
  width: 37vw;
  padding: 1%;
}

.img-acolhido {
  background-color: #81b4db;
  border-radius: 12px;
  flex-grow: 2;
  margin: 2px;
}

.texto-acolhido {
  align-items: stretch;
  flex-grow: 1;
  padding-left: 5px;
  text-align: left;
}

.bold {
  font-weight: bold;
}

.effect1 {
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}

.tiracor {
  color: royalblue;
  text-decoration: none;
}

.tiracorDieta{
  color: white;
  text-decoration: none;
}

.nome-acolhido {
  margin: 0px 0 2vh 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4em;
}

.botoes {
  margin: auto;
  display: inline;
  font-size: 15px;
}

.botoes input {
  background-color: #81b4db;
  border-radius: 7px;
  color: white;
  height: 35px;
  margin: 1vh;
  max-width: 150px;
  min-width: fit-content;
  min-height: fit-content;
  width: 12vw;
  cursor: pointer;
}

.botoes button{
  background-color: #81b4db;
  border-radius: 7px;
  text-decoration-color: white;
  height: 35px;
  margin: 1vh;
  max-width: 150px;
  min-width: fit-content;
  min-height: fit-content;
  width: 12vw; 
}

.centraliza {
  margin: 0 auto;
  text-align: center;
  width: 38vw;
}

.editar-acolhido {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.float {
  float: left;
}

.flex-container {
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 6px -6px #777;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 2%;
  width: 37vw;
  padding: 1%;
}

.img {
  border-radius: 12px;
  background-color: #81b4db;
  flex-grow: 2;
  align-items: left;
  margin: 2px;
}

.img-acolhido {
  background-color: #81b4db;
  border-radius: 12px;
  flex-grow: 2;
}

.text {
  padding-left: 5px;
}

.inf {
  text-align: left;
  flex-grow: 1;
  align-items: stretch;
}

.bold {
  font-weight: bold;
}

.effect1 {
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}

.tiracor {
  color: royalblue;
  text-decoration: none;
}

.botoes {
  display: inline;
  margin: 0 1.5vw;
}

.botoes input {
  background-color: #81b4db;
  border-radius: 7px;
  color: white;
  height:5vh;
  margin: 1vh;
  min-width: fit-content;
  width: 19vh;
}

.centraliza {
  margin: 0 auto;
  text-align: center;
  width: 38vw;
}

.editar-acolhido {
  margin: 0 22vw;
}