@import url(https://fonts.google.com/specimen/Open+Sans);
* {
  box-sizing: border-box;
  margin: 0;
}

.logout{
  color: #fff;
}


.logout:hover{
  color: #407caa;
}

.body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: 0 auto;
}

.navbar, .footer {
  background-color: #81b4db;
  width: 100vw;
}

.navbar {
  align-items: center;
  display: flex;
  height: 7vh;
  justify-content: space-between;
}

.footer {
  color: #fff;
  font-size: 2em;
  height: 7vh;
  text-align: center;
  position:fixed;
  margin-top: 15px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  color: white;
}

.logo {
  height: 100%;
  padding-left: 2%;
}

.nome-user {
  color:white;
  font-family: 'Amatic SC', cursive;
  font-size: 2.3em;
  font-weight: bold;
  margin: 0 auto
}

.botao-sair {
  font-family: 'Amatic SC', cursive;
  font-size: 2.3em;
  font-weight: bold;
  padding-right: 3%;
}

.botao-sair a {
  color: white;
  text-decoration: none;
}
.main {
  height: 90vh;
  width: 50vw;
  margin: 0 auto;
  padding-top: 20px;
}
.tablesfarmaceutica {
  margin-top: 5%;
  border-collapse: collapse;
  width: 55vw;
  font-family: 'Open Sans', sans-serif;
  
}

.tablesfarmaceutica td, .tablesfarmaceutica th {
  border: 1px solid;
  height: 5vh;
  text-align: center;
}

td.medicamento {
  text-align: left;
}
.input{
  padding-left: 1vw;
}

.add {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.acao-botao {
  width: 100%;
  margin-top: 50px;
  margin-left: -10px;
  text-align: right;
}

.botao-historico {
  margin-left: 0.5vw;
  margin-top: 2vh;
}
.panel {
  padding: 10px 0;
  display: none;
  background-color: #f0e68b;
  overflow: hidden;
}
