* {
  box-sizing: border-box;
  margin: 0;
  /* border: 1px solid red; */
}

.body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: 0 auto;
}

.navbar, .footer {
  background-color: #81b4db;
  width: 100vw;
}

.navbar {
  align-items: center;
  display: flex;
  height: 7vh;
  justify-content: space-between;
}

.footer {
  font-size: 2em;
  height: 5vh;
  text-align: center;
  position:fixed;
  margin-top: 15px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  color: white;
}

.logo {
  height: 100%;
  padding-left: 2%;
}

.nome-user {
  color:white;
  font-family: 'Amatic SC', cursive;
  font-size: 2.3em;
  font-weight: bold;
  margin: 0 auto
}

.botao-sair {
  font-family: 'Amatic SC', cursive;
  font-size: 2.3em;
  font-weight: bold;
  padding-right: 3%;
}

.botao-sair a {
  color: white;
  text-decoration: none;
}
.main {
  height: 86vh;
  width: 50vw;
  margin: 0 auto;
  /*background-color: khaki; /*cor apenas pra visualização*/
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

}
th, td {
    padding: 5px;
    text-align: left;
    width:100%;
}
.panel {
    padding: 0 18px;
    display: none;
    background-color: #f0e68b;
    overflow: hidden;
}
.accordion {
  background-color: #f0e68b;
  color: #444;
  cursor: pointer;
  padding: 18px 18px 0px 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #f0e68b;
}

.panel {
  padding: 10px 0;
  display: none;
  background-color: #f0e68b;
  overflow: hidden;
}
