@import url(https://fonts.google.com/specimen/Open+Sans);
* {
  box-sizing: border-box;
  margin: 0;
}

.logout{
  color: #fff;
}


.logout:hover{
  color: #407caa;
}

.body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin-top: auto;
  background-color: #a9d1fb
   
}

.navbar {
  background-color: #81b4db;
  width: 100vw;

}

.navbar {
  position: sticky;
  top: 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vh;
  overflow: hidden;
  z-index: 1071;  
}

.centraliza-itens{
  text-align: center;
}


.logo {
  width: 60%;
  padding-left: 2%;
}

.nome-user {
  color:white;
  font-family: 'Amatic SC', cursive;
  font-size: 2.3em;
  font-weight: bold;
  margin: 0 auto;
  padding-right: 15%;
 
}

.botao-sair {
  font-family: 'Amatic SC', cursive;
  font-size: 1.8em;
  font-weight: bold;
  padding-right: 3%;
  height: 7vh;
}

.botao-sair a {
  color: white;
  text-decoration: none;
}

.botao-sair a:hover {
  color: #81b4db;
  background-color: white;
}

.main {
  height: 50vh;
  width: 50vw;
  margin: 0 auto;
  padding-top: 5vh;
}
.tablesfarmaceutica {
  margin-top: 5%;
  border-collapse: collapse;
  width: 55vw;
  font-family: 'Open Sans', sans-serif;

}

.tablesfarmaceutica td, .tablesfarmaceutica th {
  border: 1px solid;
  height: 5vh;
  text-align: center;
}
.accordion {
  background-color: #81b4db;
  color: #444;
  cursor: pointer;
  padding: 10px 18px 10px 18px;
  width: 100%;
  border: none;
  font-size: 1.03em;
  text-align: left;
  }

.input{
  padding-left: 1vw;
}

.active, .accordion:hover {
  background-color: #81b4db;
}
.add {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.acao-botao {
  width: 100%;
  margin-top: 50px;
  margin-left: -10px;
  text-align: right;
}

.botao-historico {
  margin-left: 0.5vw;
  margin-top: 2vh;
}
.panel {
  width:100%;
  display: none;
  background-color: #e7de8b;
  overflow: hidden;
  text-align: justify;
  border: 3px solid;
  border-color: #81b4db;
}

.teste {
  width:100%;
  border-collapse: collapse;
  width: 100%;
}

.teste th, .teste tr td {
  border: 1px solid;
  border-color: #9b9b9b;
  text-align: center;
  padding-bottom: 10px;

}
.w-auto {
  width: auto;
}
