<%- contentFor('body') %>
    <div class="botao-voltar">
        <a href="/lista-acolhidos">Voltar</a>
    </div>
    <div class="cabecalho-telas">
        <%- include ../partials/cabecalhoTelas.ejs %>
    </div>
    <%- include ../partials/tabelaPrescricaoAcolhido.ejs%>