<%- contentFor('body') %>
<div>
  <h1>Casa Menino Jesus de Praga</h1>
  <div>
      <div>
          <h2><%= usuario.name %></h2>
          <img src="<%= usuario.avatar %>" >
          <div><%= usuario.email %></div>
      </div>
  </div>
</div>
