<div class="cuidado">
  <div id="wrapper" class="js-table-container">
    <table align='center' cellspacing=2 cellpadding=5 class="js-table">
      <h1> Cuidados </h1>
      <thead>
        <th>Descrição</th>
        <th>Intervalo</th>
        <th>Observações</th>
      </thead>

      <tr id="oi" class="js-novo-elemento-cuidados">
        <div class="prescricao-table">
          <td>
            <input type="text" class="input-prescricao js-novo-descricao">
          </td>
          <td>
            <input type="text" class="input-prescricao js-novo-intervalo">
          </td>
          <td>
            <input type="text" class="input-prescricao js-novo-observacao">
          </td>
        </div>
      </tr>
    </table>

    <a href=''>
      <button> Voltar</button>
    </a>
    <button class="js-add" onclick="" value="adicionar"> Adicionar </button>
    <a href=''>
        <button> Salvar</button>
      </a>
  </div>
</div>

    <a href=''>
      <button> Voltar</button>
    </a>
    <button class="js-add" onclick="" value="adicionar"> Adicionar </button>
    <a href=''>
        <button> Salvar</button>
      </a>
  </div>
</div>
