<div class="cuidado">
  <div id="wrapper" class="js-table-container">
    <table align='center' cellspacing=2 cellpadding=5 class="js-table">
      <h1> Cuidados </h1>
      <thead>
        <th>Descrição</th>
        <th>Intervalo</th>
        <th>Observações</th>
      </thead>

<<<<<<< 880f6361807e8585a0df56a5a22000ea2636bfe0
      <tr id="oi" class="js-novo-elemento-cuidados">
        <div class="prescricao-table">
          <td>
            <input type="text" class="input-prescricao js-novo-descricao">
          </td>
          <td>
            <input type="text" class="input-prescricao js-novo-intervalo">
          </td>
          <td>
            <input type="text" class="input-prescricao js-novo-observacao">
          </td>
        </div>
      </tr>
    </table>

    <a href=''>
      <button> Voltar</button>
    </a>
    <button class="js-add" onclick="" value="adicionar"> Adicionar </button>
    <a href=''>
        <button> Salvar</button>
      </a>
  </div>
</div>

    <a href=''>
      <button> Voltar</button>
    </a>
    <button class="js-add" onclick="" value="adicionar"> Adicionar </button>
    <a href=''>
        <button> Salvar</button>
      </a>
  </div>
</div>
=======
    <tr class="js-novo-elemento-cuidados">
      <div class="prescricao-table">
        <td>
          <input type="text" class="input-prescricao js-novo-cuidado">
        </td>
        <td>
          <input type="text" class="input-prescricao js-novo-periodo">
        </td>
        <td>
          <input type="text" class="input-prescricao js-novo-horario">
        </td>
        <td>
          <input type="text" class="input-prescricao js-novo-observacao">
        </td>
        <td>
          <input type="text" class="input-prescricao js-novo-data-de-prescricao">
        </td>
      </div>
    </tr>
  </table>
  <input type="button" class="js-add" onclick="" value="Adicionar medicamento">



  <a href="#" class="botaoo">Voltar</a> 
  <a href="#" class="botaoo">Salvar</a> 

</div>
>>>>>>> :rocket: <@natymoraes , @diovanemendes> Cria botão salvar e voltar com link #23
