<div id="wrapper" class="js-table-container">
  <table align='center' cellspacing=2 cellpadding=5 class="js-table">
    <thead>
      <th>Cuidado</th>
      <th>Período</th>
      <th>Horário</th>
      <th>Observações</th>
      <th>Data da prescrição</th>
    </thead>

    <tr class="js-novo-elemento-cuidados">
      <div class="prescricao-table">
        <td>
          <input type="text" class="input-prescricao js-novo-cuidado">
        </td>
        <td>
          <input type="text" class="input-prescricao js-novo-periodo">
        </td>
        <td>
          <input type="text" class="input-prescricao js-novo-horario">
        </td>
        <td>
          <input type="text" class="input-prescricao js-novo-observacao">
        </td>
        <td>
          <input type="text" class="input-prescricao js-novo-data-de-prescricao">
        </td>
      </div>
    </tr>
  </table>
  <input type="button" class="js-add" onclick="" value="Adicionar medicamento">



  <a href="#" class="botaoo">Voltar</a> 
  <a href="#" class="botaoo">Salvar</a> 

</div>