<div id="wrapper">
    <table align='center' cellspacing=2 cellpadding=5 id="data_table" border=1>
        <tr>
            <th>Medicamento</th>
            <th>Via</th>
            <th>Intervalo</th>
            <th>Forma Farmaceutica</th>
        </tr>

        <tr>
            <div class="prescricao-table">
                <td>
                    <input type="text" class="input-prescricao" id="novo_medicamento">
                </td>
                <td>
                    <input type="text" class="input-prescricao" id="novo_via">
                </td>
                <td>
                    <input type="text" class="input-prescricao" id="novo_intervalo">
                </td>
                <td>
                    <input type="text" class="input-prescricao" id="novo_formaFarmaceutica">
                </td>
        </tr>
            </div>
    </table>
    <input type="button" class="add" onclick="add_row();" value="Adicionar medicamento">
</div>

<script src="/js/tableFunctions.js"></script>