<div id="wrapper" class="js-table-container">
    <table align='center' cellspacing=2 cellpadding=5 class="js-table"  >
        <tr>
            <th>Medicamento</th>
            <th>Via</th>
            <th>Intervalo</th>
            <th>Forma Farmaceutica</th>
        </tr>

        <tr class="js-novo-elemento">
            <div class="prescricao-table">
                <td>
                    <input type="text" class="input-prescricao js-novo-medicamento">
                </td>
                <td>
                    <input type="text" class="input-prescricao js-novo-via">
                </td>
                <td>
                    <input type="text" class="input-prescricao js-novo-intervalo">
                </td>
                <td>
                    <input type="text" class="input-prescricao js-novo-forma-farmaceutica">
                </td>
            </div>
        </tr>
    </table>
    <input type="button" class="js-add" onclick="" value="Adicionar medicamento">
</div>
