<%- contentFor('body') %>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/historicoPrescricao.css">

<div class="lista">
	<div class="titulo">Histórico Prescrições Afonso</div>
	<div class="botao"><input type="button" value="Voltar"></div>
</div>

<div id="accordion">
	<h3 class="titulo-data">12/06/2017 à 19/06/2017</h3>
	<div class="tela-historico">
		Prescrição 1
		<div class="print">
			<a href="#"><i class="fa fa-print"></i></a>
		</div>
	</div>
	<h3 class="titulo-data">12/05/2017 à 19/05/2017</h3>
	<div class="tela-historico">
			Prescrição 2
			<div class="print">
				<a href="#"><i class="fa fa-print"></i></a>
			</div>
		</div>
	<h3 class="titulo-data">12/04/2017 à 19/04/2017</h3>
	<div class="tela-historico">
			Prescrição 3
			<div class="print">
				<a href="#"><i class="fa fa-print"></i></a>
			</div>
		</div>
</div>

<script src="/js/jquery-1.8.2.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/historicoPrescricao.js"></script>