<%- contentFor('body') %>
    <% if(loggedUser) { %>
        <div class="nome-user">
            <i class="fas fa-user"></i>
            <%= loggedUser.tipo %>
        </div>
        <% } %>

            <div class="right botao-voltar">
                <a href="/lista-acolhidos">Voltar</a>
            </div>
            </div>
            <%- include partials/tabelaPrescricaoAcolhido.ejs%>

                <div class="botoes medicamento">
                    <form action="/acolhido/<%= acolhido.id %>/prescricao" method="POST">
                        <input class="botaoPrescricao" type="submit" value="Nova Prescrição">
                    </form>
                </div>