<%- contentFor('body') %>
    <div class="cabecalho-telas">

        <%- include partials/cabecalhoTelas.ejs %>
            <div class="botao-voltar">
                <a href="/lista-acolhidos">Voltar</a>
            </div>
    </div>
    <div class="botoes medicamento">
        <form action="/acolhido/<%= acolhido.id %>/prescricao" method="POST">
            <input class="botaoPrescricao" type="submit" value="Nova Prescrição">
        </form>
    </div>

    <%- include partials/tabelaPrescricaoAcolhido.ejs%>