<%- contentFor('body') %>
    <%- include partials/cabecalhoAcolhido.ejs %>

<<<<<<< 5312c8cb7876d3f400e4960083a24b9fa6284041
=======
<div class="centraliza">
    <form action="/lista-acolhidos" class="botoes" method="GET">
        <input type="submit" value="Voltar">
    </form>
>>>>>>> :art: <@ClaudiaStrm, @laurascclaro> arruma css da lista de acolhidos

        <div class="right botao-voltar">
            <a href="/lista-acolhidos">Voltar</a>
        </div>

        <div class="botoes medicamento">
            <form action="/acolhido/<%= acolhido.id %>/prescricao" method="POST">
                <input class="botaoPrescricao" type="submit" value="Nova Prescrição">
            </form>
        </div>
        <%- include tabelaPrescricaoAcolhido.ejs%>