<%- contentFor('body') %>

<h3>Houve um erro interno na aplicação:</h3>

<p><%= error.message %></p>

<div class="right botoes voltar">
    <a href="/lista-acolhidos">Voltar para lista-acolhidos</a>
</div>
