<%- contentFor('body') %>
    <section class="section">
        <main class="main">
            <h1 class="titulo-lista-acolhidos">Lista de Acolhidos</h1>
            <ul class="lista-acolhidos">
                <%for (acolhidos of acolhidos){%>
                    <li>
                        <a href="/acolhido/<%= acolhidos.id %>">
                            <span>
                                <%= acolhidos.nome %>
                            </span>
                            <span class="right">
                                <%= acolhidos.prescricaos[0] ? acolhidos.prescricaos[0].validade : '' %>
                                
                            </span>
                        </a>
                    </li>
                <% } %>
            </ul>
        </main>
    </section>