<%- contentFor('body') %>
<section class="section">
    <main class="main">
        <h1 class="titulo-lista-acolhidos">Lista de Acolhidos</h1>
        <div class="content">
            <ul class="lista-acolhidos">
                <%for (acolhido of acolhidos){%>
                    <li>
<<<<<<< b20a422915ceb093b02a7af0f7e7b4992613704c
                        <a href="<%= acolhido.id %>">
=======
                        <a href="/acolhido/<%= acolhido.id %>">
>>>>>>> :construction: <@murilobauerc, @luizfetrindade, @ilizakoski> implementa teste
                            <%= acolhido.nome %>
                        </a>
                    </li>
                <%}%>
            </ul>
        </div>
    </main>
</section>
