<%- contentFor('body') %>
    <% if(loggedUser) { %>
    <div class="nome-user">
        <i class="fas fa-user"></i>
        <%= loggedUser.tipo %>
    </div>
    <% } %>
        <section class="section">
            <main class="main">
                <h1 class="titulo-lista-acolhidos">Lista de Acolhidos</h1>
                <ul class="lista-acolhidos">
                    <%for (acolhido of acolhidos){%>
                        <li>
                            <a href="/acolhido/<%= acolhido.id %>">
                                <%= acolhido.nome %>
                            </a>
                        </li>
                        <%}%>
                </ul>
            </main>
        </section>