
<%- contentFor('body') %>
<div class="botao-voltar">
    <a href="/lista-acolhidos">Voltar</a>
</div>

<section>
    <main>
        <h1 class="titulo-lista-acolhidos">Lista de Usuários</h1>
        <ul class="lista-acolhidos">
            <%for (usuario of usuarios){%>
                <li>
                    <a href="/usuario/<%= usuario.id %>">
                        Nome: <%= usuario.nome %> | 
                        Tipo de Usuário: <%= usuario.tipo %>
                    </a>
                </li>
            <% } %>
        </ul>
    </main>
</section>