<%- contentFor('body') %>
<section class="section">
    <main class="main">
        <h1 class="titulo-lista-acolhidos">Lista de Acolhidos</h1>
        <div class="content">
            <ul class="lista-acolhidos">
                <%for (users of users){%>
                    <li>
                        <a href="acolhido1.html">
                            <%= users.name %>
                        </a>
                    </li>
                <%}%>
            </ul>
        </div>
    </main>
</section>
