<html>
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h1 class="title has-text-grey"> Prescare</h1>
                <h1 class="subtitle has-text-grey"> Por favor, faça login para continuar</h1>
                <div class="">
                    <% if (message.length > 0) { %>
                    <div class="notification is-danger">Usuário ou senha incorretos</div>
                    <% } %>
                    <form action="/login" method="post">
                        <div class="field">
                            <label for="nome" class="label is-pulled-left">Nome</label>
                            <input type="text" class="input is-large" name="nome">
                        </div>
                        <div class="field">
                            <label for="nome" class="label is-pulled-left">Senha</label>
                            <input type="password" class="input is-large" name="senha">
                        </div>
                        <div class="field">
                            <button type="submit" class="button is-block is-info is-large is-fullwidth">Entrar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>

</html>