<html>
<style>
    header {
        display: none !important;
    }
</style>

<head>
    <script src="/js/voltaLogin.js"></script>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

</head>


<div class="login">
    <div class="container">

        <div class="col-sm-6 col-sm-offset-3">

            <h1>
                <span class="fa fa-sign-in"></span> Login </h1>

            <% if (message.length > 0) { %>
                <div class="alert alert-danger">
                    Informe os dados necessários
                </div>
                <% } %>

                    <form action="/login" method="post">
                        <div class="form-group">
                            <label>Nome</label>
                            <input type="text" class="form-control" name="nome" id="nome-user">
                        </div>
                        <div class="form-group">
                            <label>Senha</label>
                            <input type="password" class="form-control" name="senha" id="senha-user">
                        </div>

                        <div class='botoes'>
                            <button type="submit" class="botoes">Entrar</button>
                        </div>
                    </form>
        </div>

    </div>
</div>

</html>