<%- contentFor('body') %>
<link rel="stylesheet" type="text/css" href="/css/login.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    
    <div class="imgCenter">
        <img src="./img/logoSemFundo.png" alt="Logo-CMJP" class="imgLogin">
    </div>

    <h1 class="login">LOGIN</h1>

    <div class="form">
        <p class="usuario">Usuário</p>
        <input type="text" placeholder="seu usuário" id="user"> 
        <p class="senha">Senha</p>
        <input type="password" placeholder="sua senha" id="pass">
        <div class="entrar">
            <button class="botao">Entrar</button>
        </div>
    </div>

