<%- contentFor('body') %>
    <div class="img-Center">
        <img src="./img/logoSemFundo.png" alt="Logo-CMJP" class="img-Login">
    </div>
    <div class="titulo">
    <h1 class="login">LOGIN</h1>
    </div>
    <div class="container">
        <div class="usuário">
            <label class="label">Usuário</label>
            <input type="text" placeholder="seu usuário" class="user">
        </div>
        <div class="senha">
            <label class="label">Senha</label>        
            <input type="password" placeholder="sua senha" class="pass">
        </div>
        <div>
            <button class="btn btn-danger">Entrar</button>
        </div>
    </div>

