<%- contentFor('body') %>
<form action="/login" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username">
  <label for="password">Password</label>
  <input type="text" name="password">
  <input type="submit" value="Send it!">
</form>
