<%- contentFor('body') %>
<link rel="stylesheet" type="text/css" href="/css/login.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    
    <div class="imgCenter">
        <img src="https://bhaz.com.br/wp-content/uploads/2016/11/catioro-reflexivo.jpg" alt="cachorro sorrindo" class="imgLogin">
    </div>

    <h1 class="login">LOGIN</h1>

    <div class="form">
        <p>Entre com o usuario</p>
        <input type="text">
        <p>Entre com a senha</p>
        <input type="password">
        <div>
            <button>Entrar</button>
        </div>
    </div>