<%- contentFor('body') %>
    <link rel="stylesheet" type="text/css" href="/style/teste.css">
    <img src="https://bhaz.com.br/wp-content/uploads/2016/11/catioro-reflexivo.jpg" alt="cachorro sorrindo" class="imgLogin">

    <p>LOGIN</p>

    <div >
        <p>Entre com o usuario</p>
        <input type="text">
        <p>Entre com a senha</p>
        <input type="password">
        <button>Entrar</button>
    </div>

   