<%- contentFor('body') %>  

<form action="/acolhido/novo" method="POST">
    <div class="form-group row">
        <label for="nome" class="col-sm-2 col-form-label col-form-label-lg">Nome:</label>
        <input type="text" name="nome" id="nome" class="form-control form-control-lg col-sm-8">
    </div>

    <div class="form-group row">
        <label for="nascimento" class="col-sm-2 col-form-label col-form-label-lg">Data de nascimento:</label>
        <input type="text" name="nascimento" id="nascimento" class="form-control form-control-lg col-sm-8">
    </div>

    <div class="form-group row">
        <label for="peso" class="col-sm-2 col-form-label col-form-label-lg">Peso:</label>
        <input type="text" name="peso" id="peso" class="form-control form-control-lg col-sm-8">
    </div>

    <div class="form-group row">
        <label for="alergias" class="col-sm-2 col-form-label col-form-label-lg">Alergia:</label>
        <input type="text" name="alergias" id="alergias" class="form-control form-control-lg col-sm-8">
    </div>

    <div class="form-group row">
        <label for="via_alimentacao" class="col-sm-2 col-form-label col-form-label-lg">Via Alimentação:</label>
        <input type="text" name="via_alimentacao" id="via_alimentacao" class="form-control form-control-lg col-sm-8">
    </div>
    
    <div class="botoes">
        <input type="submit" value="Salvar" class="form-control">
    </div>
</form>

<div class="botoes">
    <a href="/lista-acolhidos" class="form-control">Cancelar</a>
</div>