<%- contentFor('body') %>

<form action="/usuario/novo" method="POST">
    <div class="form-group row">
        <label for="nome" class="col-sm-1 col-form-label col-form-label-lg">Nome:</label>
        <input type="text" name="nome" id="nome" class="form-control form-control-lg col-sm-6">
    </div>

    <div class="form-group row">
        <label for="senha" class="col-sm-1 col-form-label col-form-label-lg">Senha:</label>
        <input type="password" name="senha" id="senha" class="form-control form-control-lg col-sm-6">
    </div>

    <div class="form-group tipo-usuario">
        Tipo de Usuário:
        <input type="radio" name="tipo" value="clinica"> Clínica
        <input type="radio" name="tipo" value="neurologista"> Neurologista
        <input type="radio" name="tipo" value="farmaceutica"> Farmacêutica
        <input type="radio" name="tipo" value="administrador"> Administrador
    </div>

    <div class="botoes">
        <input type="submit" value="Salvar" class="form-control">
    </div>
</form>
<div class="botoes">
    <a href="/listaUsuarios" class="form-control">Cancelar</a>
</div>
