<%- contentFor('body') %>

<section class="hero">
  <section class="hero-body">
    <div class="container">

      <div class="column is-4 is-offset-4">
        <h1 class="title">Novo Acolhido</h1>
        <form action="/acolhido/novo" method="post">
            <div class="field">
                <label for="nome" class="label is-pulled-left">Nome</label>
                <input type="text" class="input" name="nome">
            </div>

            <div class="field">
                <label for="nascimento" class="label is-pulled-left">Data de nascimento:</label>
                <input type="text" name="nascimento" id="nascimento" class="input">
            </div>

            <div class="field">
                <label for="peso" class="label is-pulled-left">Peso:</label>
                <input type="text" name="peso" id="peso" class="input">
            </div>

            <div class="field">
                <label for="alergias" class="label is-pulled-left">Alergia:</label>
                <input type="text" name="alergias" id="alergias" class="input">
            </div>

            <div class="field">
                <label for="via_alimentacao" class="label is-pulled-left">Via Alimentação:</label>
                <input type="text" name="via_alimentacao" id="via_alimentacao" class="input">
            </div>

            <div class="field">
              <button class="button is-block is-fullwidth is-link" type="submit">Salvar</button>
            </div>
        </form>
      </div>
    </div>
  </section>
</section>
