<%- contentFor('body') %>

<section class="hero">
  <section class="hero-body">
    <div class="container">
      <div class="column is-4 is-offset-4">
        <form action="/usuario/novo" method="POST">
            <div class="field">
                <label for="nome" class="label">Nome:</label>
                <input type="text" name="nome" id="nome" class="input">
            </div>

            <div class="field">
                <label for="senha" class="label">Senha:</label>
                <input type="password" name="senha" id="senha" class="input">
            </div>

            <div class="field">
              <label for="tipo" class="label">Tipo de Usuário:</label>
              <div class="select">
                <select id="tipo" name="tipo">
                   <option value="clinica"> Clínica </option>
                   <option value="neurologista"> Neurologista </option>
                   <option value="farmaceutica"> Farmacêutica </option>
                   <option value="administrador"> Administrador </option>
                   <option value="neutro"> Neutro </option>
                </select>
              </div>
            </div>

            <div class="field">
              <button class="button is-block is-fullwidth is-link" type="submit">Salvar</button>
            </div>
        </form>
      </div>
    </div>
  </section>
</section>
