<div id="wrapper" class="js-table-container">
  <table align='center' cellspacing=2 cellpadding=5 class="js-table">
      <thead>
          <th>Medicamento</th>
          <th>Local</th>
          <th>Intervalo</th>
          <th>Observações</th>
          <th>Data da prescrição</th>
      </thead>

      <tr class="js-novo-elemento-pomada">
          <div class="prescricao-table">
              <td>
                  <input type="text" class="input-prescricao js-novo-medicamento">
              </td>
              <td>
                  <input type="text" class="input-prescricao js-novo-local">
              </td>
              <td>
                  <input type="text" class="input-prescricao js-novo-intervalo">
              </td>
              <td>
                  <input type="text" class="input-prescricao js-novo-observacao">
              </td>
              <td>
                  <input type="text" class="input-prescricao js-novo-data-de-prescricao">
              </td>
          </div>
      </tr>
  </table>
  <input type="button" class="js-add" onclick="" value="Adicionar medicamento">
</div>