<form>
    <label for="dieta">Dieta</label>
    <table class="tabela-prescricao">
        <tr>
            <th>Tipo</th>
            <th>Intervalo</th>
        </tr>
        <tr>
            <%for (dietas of dietas){%>
                <td>
                    <%= dietas.tipo %>
                </td>
                <td>
                    <%= dietas.intervalo %>
                </td>
                <td>
                    <div class="botoes">
                        <form action="<%= updateUrl %>/dieta/" method="POST">
                            <input type="submit" value="Editar">
                        </form>
                    </div>
                </td>
        </tr>
        <%}%>
    </table>
</form>