<form>
    <label for="cuidado">Cuidados</label>
    <table class="tabelaPrescricao">
        <tr>
            <th>Descrição</th>
            <th>Intervalo</th>
            <th>Observações</th>
        </tr>
        <tr>
            <%for (cuidados of cuidado){%>
                <td>
                    <%= cuidados.descricao %>
                </td>
                <td>
                    <%= cuidados.intervalo %>
                </td>
                <td>
                    <%= cuidados.observacoes %>
                </td>
                <td>

                    <div class="botoes">
                        <form action="<%= updateUrl %>/cuidado" method="POST">
                            <input type="submit" value="Excluir">
                        </form>
                    </div>

                </td>
        </tr>
        <%}%>
    </table>
</form>