<label for="dieta">Dieta</label>
<table class="tabela-prescricao">
    <tr>
        <th>Tipo</th>
        <th>Intervalo</th>
    </tr>
    <%for (dieta of dietas){%>
        <tr>
            <td>
                <%= dieta.tipo %>
            </td>
            <td>
                <%= dieta.intervalo %>
            </td>
            <td>
                <div class="botoes">
                    <a href="<%= updateUrl %>/dieta/<%= dieta.id %>/edit">Editar</a>
                </div>
            </td>
        </tr>
    <%}%>
</table>