<label for="dieta">Dieta</label>
<table class="tabela-prescricao">
    <tr>
        <th>Tipo</th>
        <th>Intervalo</th>
        <th>Observações</th>
    </tr>
    <%for (dieta of prescricao.dieta){%>
        <tr>
            <%for (dietas of dietas){%>
                <td>
                    <%= dietas.tipo %>
                </td>
                <td>
                    <%= dietas.intervalo %>
                </td>
                <td>
                     <%= dietas.observacoes %>
                </td>
        </tr>
        <%}%>
</table>