<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Info</title>
</head>
<link rel="stylesheet" href="../style/infos.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<body>
    <div class="box effect1">
        <div class="table1">
            <table>
                <tr>
                    <td class="col1">Nome:</td>
                    <td>#banco#</td>
                </tr>
                <tr>
                    <td class="col1">Idade:</td>
                    <td>#banco#</td>
                </tr>
                <tr>
                    <td class="col1">Peso:</td>
                    <td>#banco#</td>
                </tr>
                <tr>
                    <td class="col1">Alergias:</td>
                    <td>#banco#</td>
                </tr>
                <tr>
                    <td class="col1">Via da alimentação:</td>
                    <td>#banco#</td>
                </tr>
            </table>
            <div class="edit">
            <a href="" >editar</a>
            </div>
        </div>
    </div>
</body>

</html>