<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Info</title>
</head>
<link rel="stylesheet" href="../style/infos.css">
<body>
    <div class="box effect1">
        <table>
            <tr>
               <td>Nome:</td>
               <td>#banco#</td>
            </tr>
            <tr>
                <td>Idade:</td>
                <td>#banco#</td>
            </tr>
            <tr>
                <td>Peso:</td>
                <td>#banco#</td>
            </tr>
            <tr>
                <td>Alergias:</td>
                <td>#banco#</td>
            </tr>
            <tr>
                <td>Via da alimentação:</td>
                <td>#banco#</td>
            </tr>
        </table>
    </div>
</body>

</html>